<!DOCTYPE html>
<html>
<head>
  <title>
  <% if content_for?(:title) %>
  	<%= yield(:title)  %>
  <% else %>
    Tic app
  <% end %>

  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, message| %>
  <div class="flash">
    <p class="alert"> <%= message %></p>
  </div>  
<% end %>

<%= yield %>

</body>
</html>
